<main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <p class="post__hedding">
        <%= @post.title %>
      </p>
      <div class="post__image">
        <%= image_tag @post.image %>
      </div>
      <div class="post__edit">
        <%= link_to "by #{@post.user.nickname}", class: :post__user %>
        <% if  user_signed_in? && current_user.id == @post.user_id %>
          <div class="post__manage">
            <%= link_to "編集する", edit_post_path(@post.id), class: :post__btn %>
            <%= link_to "削除する", post_path(@post.id), method: :delete, class: :post__btn %>
          </div>
        <% end %>
      </div>
      <div class="post__body">
        <div class="post__detail">
          <p class="detail__comment">説明</p>
          <p class="detail__message">
            <%= @post.comment %>
          </p>
        </div>
        <div class="map-container">
          <div class="post__detail">
            <p id="address" class="detail__message detail__address">
              撮影場所 <%= @post.address %>
            </p>
          </div>
          <div class="map_wrapper">
            <div id="map" class="map" style="width:620px; height:300px"></div>
          </div>
        </div>
        <script>
          function initMap() {
            //地図を表示する領域の div 要素のオブジェクトを変数に代入
            var target = document.getElementById('map');
            //マーカーのタイトル
            var title = document.getElementsByClassName('datespot-title').text;
            //HTMLに記載されている住所の取得
            var address = document.getElementById('address').textContent;
            //ジオコーディングのインスタンスの生成
            var geocoder = new google.maps.Geocoder();
            console.log(geocoder)

            //geocoder.geocode() にアドレスを渡して、コールバック関数を記述して処理
            geocoder.geocode({ address: address }, function(results, status){
              //ステータスが OK で results[0] が存在すれば、地図を生成
              if (status === 'OK' && results[0]){
                //マップのインスタンスを変数に代入
                var map = new google.maps.Map(target, {
                  //results[0].geometry.location に緯度・経度のオブジェクトが入っている
                  center: results[0].geometry.location,
                  zoom: 15
                });
                //マーカーの生成
                var marker = new google.maps.Marker({
                  position: results[0].geometry.location,
                  map: map,
                  animation: google.maps.Animation.DROP
                });
                //取得した座標の生成
                var latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                //情報ウィンドウに表示するコンテンツを作成
                var content = '<div id="map_content"><p>' + title + '<br/>' + address + '<br/><a href="https://maps.google.co.jp/maps?q=' + latlng + '&iwloc=J" target="_blank" rel="noopener noreferrer">Googleマップで見る</a></p></div>';
                //情報ウィンドウのインスタンスを生成
                var infowindow = new google.maps.InfoWindow({
                  content: content,
                });
                //marker をクリックすると情報ウィンドウを表示(リスナーの登録）
                google.maps.event.addListener(marker, 'click', function() {
                  //第2引数にマーカーを指定して紐付け
                  infowindow.open(map, marker);
                });
              }else{
                //ステータスが OK 以外の場合や results[0] が存在しなければ、アラートを表示して処理を中断
                alert("住所から位置の取得ができませんでした。: " + status);
                return;
              }
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPZRy6gl-DSwkdqOJ0mueeYRVWglY6rDg&callback=initMap" async defer></script>
      </div>
      <div class="post__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.text %>
                <%= "(#{comment.user.nickname})" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
